<h1>About Your Boy</h1>

<div class="row">
  <div class="col-md-4">
    <%= image_tag "Disney BW 075.jpg", width: 300, alt: "profile_pic" %>
  </div>

  <div class="col-md-4">
    <p>
      Hi, this is me. I make things.
    </p>
  </div>
</div>
