<div class="inner cover">
  <h1 class="cover-heading">Welcome</h1>
  <p class="lead">Check out my stuff, dudes</p>
  <p class="lead">
    <%= link_to "Portfolio", portfolios_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>
